@import url('https://fonts.googleapis.com/css?family=Gamja+Flower');
@import url('https://fonts.googleapis.com/css?family=Indie+Flower');

@font-face {
font-family: 'Indie+Flower';
src: url('./Indie_Flower/IndieFlower.ttf') format('opentype');
font-weight: ;
font-style: ;
}

@font-face {
font-family: 'Gamja+Flower';
src: url('./Gamja_flower/GamjaFlower-Regular.ttf') format('opentype');
font-weight: ;
font-style: ;
}
body{
h1{
  font-family:'Gamja+Flower', sans-serif;
  text-align:center;
}


h2{
  font-family:'Gamja+Flower',serif;
  text-align: center;
}

h3{
  font-family:'Gamja+Flower',serif;
  text-align: center;
}
#Mainfont{
  font-family: 'Indie+Flower', serif;
}
}
