
html {
	padding: 0;
}

#container {
	width: 800px;
	height: 800px;
	border-style: solid;
	 border-width: 115px;
	 border-color: hotpink;
    background-image: url('../Images/Fresh.jpg') ;
}


.lovethe90s
{
    width:50px;
    height:50px;
		position: absolute;
		left: 10px;
		bottom: 50px;
}

.firstimage
{
	  position: absolute;
	  right: : 200px;
    bottom: :275px;
    z-index: 3;
    width:200px;
    height:50px;
}
