container {
	width: 800px;
	height: 800px;
    position: absolute;
    background-image: url(../Images/fresh-prince.png) ;
}

.90sfirstimage
{
    position: absolute;
    left: 40px;
    top: 33px;
    width:100px;
    height:100px;
    z-index: 1;
}
